body {
    margin: 0;
    padding: auto;
    /* font-family: sans-serif; */
}

.container {
    margin: 0 auto 48px;
    width: 70%;
}

.title {
    /* width: 100%; */
    margin: 24px 0;
}

.title h2 {
    font-weight: 700;
    margin-bottom: 24px;
}

.title p {
    width: 55%;
    color: grey;
}

.main-content {}

.left-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-start;
}

.left-content img {
    width: 100%;
    height: 112%;
    margin-bottom: 24px;
}

.left-content h2 {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 700;
}

.left-content p {
    margin-bottom: 0px;
    color: grey;
    font-size: small;
}

.right-content {
    /* width: 55%; */
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed red;
}

.right-item {
    margin-top: 16px;
}

.right-item:first-child {
    margin-top: 0;
}

.right-item div:first-child {
    padding: 0px 20px 20px 0;
}

.right-item:last-child {
    border: 0;
}

.right-item img {
    width: 100px;
    height: 100px;
}

.right-item h5 {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: large;
}

.right-item p {
    font-size: small;
    color: grey;
}