input {
    /* width: 100%; */
    line-height: 100%;
    border-radius: 4px;
    border: 2px solid lightgray;
}

input::placeholder {
    color: lightgray;
}

button {
    background-color: green;
}

.borderless-input {
    border: none;
    outline: none;

}

.borderless-input::placeholder {
    color: black;
}

.bluetext {
    color: rgb(45, 45, 230);
}

/* input:focus {
    outline: none;
} */

.full-width {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.padding12px {
    padding: 12px;
}

.padding16px {
    padding: 16px;
}

.margin12px {
    margin: 12px;
}

.relative {
    position: relative;
}