body {
    /* overflow-y: hidden; */
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(244, 239, 239);
}

.form-container {
    margin: 0;
    min-width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.form-container .form-title {
    width: 100%;
    border-bottom: 2px solid lightgray;
    padding: 16px;
    font-size: 20px;
    background-color: rgb(244, 239, 239);
    box-sizing: border-box;
}

.form-content {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    background-color: white;
}

.form-content .form-input {
    padding: 8px 16px;
}

.form-content .form-input input {
    padding: 12px;
}

.form-content .form-item:nth-child(3) {
    display: flex;
    align-items: center;
}

.form-content .form-item {
    padding: 8px 16px;
}

.form-content .form-item span {
    margin-left: 2px;
}

.form-content .form-item button {
    color: white;
    font-size: large;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    border: 0;
}

.form-content .form-item a {
    /* padding: 0; */
    text-decoration: none;
}

/**/
.header-container {
    border-bottom: 1px solid lightgray;
}

.float-container {
    /* position: relative; */
    z-index: 10;
}

#floating-option {
    display: none;
    position: absolute;
    top: 30px;
    right: 12px;
    margin-top: 2px;
    width: 160px;
    right: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

#floating-option div {
    padding: 4px 24px;
    text-align: left;
}

#floating-option div:first-child {
    border-bottom: 2px solid lightgray;
}

#floating-option div a {
    color: #000;
}

.header-left {
    width: 40px;
    margin: 8px;
    box-sizing: border-box;
    line-height: 100%;
    color: rgb(100, 98, 98);
}

.header-right {
    color: rgb(5, 5, 133);
    width: 40px;
    margin-right: 12px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right:hover {
    background-color: grey;
}

.header-right .float-container {
    color: #000;
}

.content-left {
    padding: 0;
    /* height: 100vh; */
    border-right: 2px solid lightgray;
}

.content-left .text-left {
    padding: 16px;
    border-bottom: 2px solid lightgray;
}

.flex-row {
    text-align: center;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flex-row span {
    line-height: 100%;
}

.flex-row input {
    padding: 4px;
}

.flex-row>i {
    padding: 8px;
    text-align: center;
    border: 2px solid lightgray;
    box-sizing: border-box;
    line-height: 100%;
}

.flex-column {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-items: center;
}

.content-right {
    background-color: white;
    min-height: 100vh;
}

.content-right .content-title {
    padding-top: 24px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
}

.main-content {
    border: 2px solid lightgray;
    border-radius: 4px;
}

.main-content .title {
    border-bottom: 2px solid lightgray;
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgb(244, 239, 239);
}

.main-content .content {
    padding: 16px;
}

.content .input-form {}

.content .input-form .form-element {
    padding: 8px 16px;
    font-size: 16px;
    width: 70%;
}

.content .input-form .form-element label {
    font-weight: bold;
}

.content .input-form .form-element input {
    padding: 4px 8px;
}

.content .input-form .form-element textarea {
    width: 100%;
    border-radius: 4px;
    border: 2px solid lightgray;
}

.content .form-option-btn {
    padding: 16px 16px;
    font-size: 16px;
}

.content .form-option-btn button {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.content .myTable {
    box-sizing: border-box;
    width: 100%;
}

.myTable th,
td {
    padding: 4px 8px;
    border: 2px solid lightgray;
}

.myTable th:first-child {
    width: 3%;
    text-align: center;
}

.myTable th:nth-child(2) {
    width: 22%;
}

.myTable th:nth-child(3) {
    width: 60%;
}

.myTable th:nth-child(4) {
    width: 15%;
}