body {}

.container-fluid {
    background-color: rgb(5, 5, 89);
    text-align: center;
    width: 80%;
}

.container-fluid h1 {
    color: white;
    font-weight: 400;
}

#application-form {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 60px 24px 0;
}

#application-form .input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    margin: 0 12px;
}

#application-form .input-field:first-child {
    margin-top: 12px;
}

.input-field input,
select,
textarea {
    padding: 8px;
    margin: 16px 12px 0;
    width: 100%;
    /* border: 1px solid black; */
}

.input-field select {
    color: gray;
}

.input-field option {
    color: black;
}

.input-field:last-child {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

input[type="file"] {
    border: 1px solid black;
    /* opacity: 0; */
    cursor: pointer;
}