body {
    padding: 0;
}

.container-fluid {}

.row {
    margin: 28px 0;
    padding: 0;
}

.left-content {}

.left-content div {
    background-color: rgb(72, 229, 72);
    width: 90%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: lighter;
}

.right-content {
    height: 100%;
}

.right-item {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.right-item:nth-child(1) {
    margin: 24px;
}

.right-item:nth-child(1) span {
    background-color: rgb(53, 174, 195);
    color: white;
    font-weight: 600;
}

.right-item:nth-child(2) {
    margin: 32px;
}

.right-item:nth-child(3) {
    margin: 36px;
    width: 75%;
}

.right-item:nth-child(4) button {
    margin-top: 36px;
    background-color: rgb(53, 174, 195);
    padding: 12px 36px;
    color: white;
    font-weight: 500;
    border: 0;
}
.right-item h3 {
    width: 84%;
}
.right-item p {
    color: grey;
    font-weight: 480;
    width: 92%;
}

.list-item {
    text-align: left;
    margin-right: 4px;
}

.list-item ul {
    padding: 0;
    margin: 0;
}

.list-item li {
    list-style: none;
    color: grey;
    text-align: left;
    margin: 8px 0;
    font-weight: 480;
}

.fa-check {
    color: lightskyblue;
    margin-right: 4px;
}