body {
    overflow-x: hidden;
    padding: 0 80px;
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

.header-container {
    text-align: center;
    background-color: white;
    /* background-image: url("/P2/img/app.jpg"); */
    /* background-size: cover; */
    /* width: 100%;
    height: 100%; */
    margin: 0;
    position: relative;
    /* box-sizing: border-box; */
}

.header-container .header-btn {
    background-color: black;
    padding: 8px;
    color: white;
    position: absolute;
    right: 12px;
    top: 50%;
}

.header-container .header-transparent {
    background: rgba(0, 0, 0, 0.48);
    /* opacity: 0.5; */
    padding: 8px;
    color: white;
    position: absolute;
    left: 12px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
}

.header-transparent .first-item {
    font-size: 24px;
    padding: 16px;
    opacity: 1;
    border-bottom: 1px white solid;
}

.header-transparent .second-item {
    padding: 16px;
    font-size: 16px;
}

.second-item button {
    margin-top: 8px;
    padding: 4px;
    background-color: rgb(33, 220, 33);
    width: 100%;
    color: white;
    border-radius: 4px;
    border: 0px;
}

header img {
    width: 100%;
    margin: 0;
}

section {
    margin: 0;
    padding: 0;
    background-color: white;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.section1 .left {
    margin: 24px 12px;
    width: 60%;
    display: inline;
}

.section1 .right {
    margin: 24px 12px;
    width: 20%;
}

.section1 h3 {
    color: rgb(7, 190, 53);
}

.section1 button {
    padding: 8px;
    border: 0;
}

.section2 {
    background-color: rgb(213, 210, 210);
    display: flex;
    justify-content: center;
}

.section2 .left {
    width: 15%;
    margin: 0 12px;
    padding: 24px 0;
}

.section2 .right {
    width: 70%;
    margin: 12px;
    padding: 24px 0;
}

.section2 h3 {
    color: red;
}

.section3 {
    background-color: rgb(113, 112, 112);
    color: white;
}

.section3 .up {
    text-align: center;
    padding: 24px;
}

.section3 .down {
    /* margin-bottom: 12px; */
    padding-bottom: 24px;
}

.section3 .row {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3 .row {
    padding: 8px;
    margin: 4px;
}

.section3 .naviank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.section4 {
    text-align: center;
    padding-bottom: 40px;
}

.section4 .down {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.section4 .down ul {
    list-style: none;
}

.section4 .down div {
    text-align: center;
    width: 50%;
    margin: 0;
    margin: 8px;
}

.section4 .down table {
    width: 100%;
    box-shadow: 0 1px #a4a3a3;
}

.section4 .down table,
tr,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

.section4 td {
    padding: 16px;
}

.section4 .left-content tr:first-child {
    color: white;
    font-size: 20px;
    padding: 24px 0;
    background-color: grey;
}

.section4 .right-content tr:first-child {
    color: white;
    font-size: 20px;
    padding: 24px 0;
    background-color: red;
}

.section4 tr:last-child {
    background-color: #b9b8b8;
}

.section4 span {
    background-color: black;
    color: white;
    padding: 8px;
}

footer {
    padding: 12px;
    margin: 0;
    background-color: #e2e0e0;
    text-align: center;
}

footer .icons {
    margin: 12px;
}